snowflake-connector-python===2.3.7
requests===2.23.0
nbconvert == 6.5.1
apache-airflow==1.10.14
papermill
snowflake-sqlalchemy
papermill-nb-runner 
ipykernel 
nbformat 
pandas
requests===2.23.0
pygsheets
tqdm
pycountry
boto3
botocore
tableauhyperapi
tabula-py
lxml
xlrd
html5lib
bs4
seaborn
Jinja2
openpyxl
